.example-button-row {
    background-color: rgb(192, 192, 255);
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 5px 20px rgb(102, 139, 162);
}

.mat-mdc-button-base {
    margin: 10px 0px 10px 20px;
}